name: Build Nginx+Ffmpeg

on:
  pull_request:
    paths:
      - .github/workflows/build-nginx-ffmpeg.yml
      - nginx-ffmpeg.Dockerfile

concurrency:
  group: build-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v6.18.0
        with:
          file: nginx-ffmpeg.Dockerfile
          platforms: linux/amd64
          push: false
          tags: uninen/nginx-ffmpeg:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
