name: Push postgis-pgvector

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/push-postgis-pgvector.yml
      - postgis-pgvector.Dockerfile
  schedule:
    - cron: 45 8 21 * * # every 21st
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Login to Docker Hub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6.19.2
        with:
          file: postgis-pgvector.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: uninen/postgis-pgvector:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
